.panel.panel-default.panel-hovered.panel-stacked.mb20
	.panel-heading(layout style="height: 40 px;")
		span 
			|Editar pregunta en idiomas:  

		md-input-container(layout="row" layout-aling="star center" style="padding-bottom: 0px; margin-top: -10px;")
			md-select(multiple="true" placeholder="Idioma" ng-model="idiomaPreg")
			md-option(ng-repeat="idioma in idiomas" value="{{idioma.id}}") {{idioma.original}}

		a(href="" ng-click="mostrarConfig()" ng-show="mostrarConfiguracion") Configurar
		a(href="" ng-click="mostrarConfig()" ng-show="mostrarConfiguracion") Ocultar

	.panel-body
		form.form-horizontal(name="frm" role="form" ng-submit="finalizarEdicion()")
			
			div(ng-show="mostrarConfiguracion" layout layout-margin layout-wrap layout-padding )
				
				md-input-container(flex="40")
					label Descripcion
					input(type="text" ng-model="preguntaking.descripcion")

				md-input-container(flex="20")
					label Duracion
					input(type="number" ng-model="preguntaking.duracion")
					md-tooltip En segundos. Solo para la gran final

				md-input-container(flex="20")
					label Puntos
					input(type="number" ng-model="preguntaking.puntos")
					md-tooltip Solo aplica si la evaluacion es por puntos y no por promedio

				md-input-container(flex="30" layout="row" layout-aling="star center")
					md-select(placeholder="Tipo pregunta" ng-model="preguntaking.topo_pregunta" ng-cahnge="cambiaTipoPregunta()")
						md-option() Test
						md-option() Multiple
						md-option() Texto
						md-option() Lista
						md-option() Ordenar
						//md-option() cuadricula // No aplica para pregunta_king, sino para grupos_preguntas

				.form-group(flex="50")
					md-checkbox(ng-model="preguntaking.aleatorias" ng-true-value="1" ng-false-value="0" aria-label="Opciones aleatorias")
						| Opciones aleatorias
					md-tooltip No importara el orden en que se ordene las opciones. Siempre saldran aleatoriamente.



			div(ng-repeat="pregunta_traduc in preguntaking.preguntas_traducidas | porIdioamsEdit:idiomaPreg" ng-class-odd="'fondo-odd'" ng-class-even="'fondo-even'")



				edit-preg-traduc-dir(preguntatraduc="pregunta_traduc" preguntaking="preguntaking" eventoactual="eventoactual") 


				br
			
			md-button.md-raised.md-primary.righ(type="button" ng-click="finalizarEdicion()")
				md-tooltip Guardar y finalizar edici贸n
				| Finalizar
			md-button.md-raised.md-primary.righ(type="button" ng-click="aplicarCambios()" aria-label="Aplicar")
				md-tooltip Guardar y continuar editando
				| Aplicar
			md-button.md-raised.md-primary.righ(type="button" ng-click="cerrarEdicion()" iria-label="Cerrar")
				md-tooltip Cerrar edici贸n
				| Cerrar
						


					##.opcionesedit(ui-sortable="sortableOptions" ng-model="pregunta.opciones")
					##	
						##md-input-container.input-group(flex ng-repeat="opcion in pregunta.##opciones")
							##label(ng-show="!opcion.nueva")
								##i.fa.fa-sort 
								##| Opci贸n {{$index+1}} :
							##input.form-control(type="text" ng-model="opcion.definicion" ng-class="{ 'textblue':opcion.is_correct, 'add-opcion':opcion.nueva }" ng-focus="addButtonNewOpcion(pregunta, opcion)")
							##span.input-group-btn(ng-show="!opcion.nueva")
								
								##md-button.md-icon-button.md-warn(aria-label="Quitar" ##ng-##click="deleteOption(pregunta, opcion)")
									##md-icon.fa.fa-times
									##md-tooltip Quitar opci贸n 

								##md-button.md-icon-button(ng-class="{ true:'md-mini md-fab md-primary', false:''}[opcion.is_correct]" aria-label="Correcta" ng-click="setAsCorrect(pregunta, opcion)") 
									##md-icon.fa.fa-check 
									##md-tooltip Respuesta correcta 
				##br

			##div(layout layout-sm="column")
				##md-input-container(flex)
					{{frm.editor.$dirty}}
				##md-input-container(flex)
					{{frm.$dirty}}
			
			


